*
{
    box-sizing: border-box;
}

body
{
    background-color: #0e0e0e;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

a
{
    color: inherit;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.container
{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.section-page
{
    padding: 100px 0;    
}

.title
{
    text-align: center;
    margin-bottom: 100px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.header
{
    background-image: url('../images/header-bg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50px;
    text-align: center;
    position: relative;
}

.header::after
{
    content: '';
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
    transform: rotate(180deg);
}

.menu
{
    position: relative;
    padding: 50px 0 58px;
    background: linear-gradient(180deg, #111213 0%, #111213 
    43.62%, rgba(32, 31, 33, 0) 86.33%);
}


.menu__list
{
    display: flex;
    justify-content: center;
}

.menu__list-item
{
    padding: 0 13px;
}


.menu__list-link
{
    font-size: 26px;
    line-height: 38px;  
}

.menu__list-link:hover
{
    color: #85CCDC;
    text-decoration: underline;
}

.logo
{
    padding-top: 17vh;
}

.about__inner
{
    display: flex;
}

.about__info
{
    width: 375px;
    margin-right: 50px;
    flex: none;
}

.about__info-item
{
    margin-bottom: 25px;
    color: #e5e5e5;
}

.about__info-item span
{
    display: block;
}

.about__text p
{
    margin-bottom: 25px;
}

.video
{
    background-image: url('../images/video-bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: right;
}

.video__text
{
    font-style: italic;
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    color: #85CCDC;
    padding-top: 374px;
}

.video__text span
{
    padding-right: 285px;
    display: block;
}

.video__btn
{
    padding-left: 112px;
    position: relative;
    margin-right: 350px;
    top: 20px;
}

.video__btn::before
{
    content:'';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: -40px;
    background-image: url('../images/youtube.svg');
}

.seasons__inner
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px 75px;
    counter-reset: counter;
}

.seasons__item
{
    width: 350px;
    height: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seasons__item:hover .seasons__link
{
    opacity: 1;
}

.seasons__item:hover::after
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(14, 14, 14, 0.8);
}

.seasons__item::before
{
    counter-increment: counter;
    content: '0' counter(counter);
    position: absolute;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    color: #600E09;
    left: 0;
    top: -70px;
    z-index: -1;
}

.seasons__item:nth-child(n+10)::before
{
    content:  counter(counter);
}

.seasons__link
{
    font-size: 36px;
    line-height: 42px;
    padding: 12px 78px 11px;
    background-color: #0e0e0e;
    opacity: 0;
    transition: all .3s;
    z-index: 2;
}

.heroes__inner
{
    display:flex;
    justify-content: space-between;
}

.heroes__slider-img
{
    max-width: 775px;
    max-height: 450px;
}

.heroes__slider-text
{
    max-width: 350px;
}

.slick-btn
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
}

.slick-prev
{
    left: 38px;
}

.slick-next
{
    right: 38px;
}

.stas
{
    height: 453px;
}

.hero-name
{
    font-style: italic;
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    color: #85CCDC;
    margin-bottom: 44px;
}

.heroes__text p
{
    margin-bottom: 25px;
    font-size: 16px;
}

.copy
{
    text-align: center;
    padding: 14px 0 15px;
}

/* start season1 */
.menu__list-link--active
{
    color: #85CCDC;
    text-decoration: underline;
}

.page-header
{
    background-image: url('../images/page-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    position: relative;
}

.menu__container
{
    max-width: 1185px;
    margin: 0 auto;
    position: relative;
}

.page-logo
{
    position: absolute;
    left: 0;
}

.season-info
{
    position: absolute;
    background-color: #0e0e0e;
    display: flex;
    max-width: 1185px;
    height: 243px;
    padding: 44px 47px 64px 35px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.season__number
{
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;  
    text-align: center;
    margin-right: 36px;
    line-height: 57px;
}

.season__number span
{
    display: block;
    font-size: 36px;
    line-height: 42px;
    top: 0;
}

.season__text p
{
    margin-bottom: 15px;
}

/* end season1 */